!!!
%html{:lang=>"en"}
	%head
		%meta{:charset=>"utf-8"}
		%title SPA PROTOTYPE!
		%meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}

		/ if you need bootstrap, include this stylesheet too
		%link{:rel=>"stylesheet", :href=>"/css/bootstrap.min.css", :type=>"text/css"}
		%link{:rel=>"stylesheet", :href=>"/css/styles.css", :type=>"text/css"}
		%script{:type=>"text/javascript", :"data-main"=>"/public/js/main", :src=>"/public/js/require.min.js"}
	%body
		#everything
			=yield
